body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
}

/* ----- Inizio nav-top ----- */
#nav-top {
    background-color: white;
    display: none;
    height: 40px;
    padding: 0 15px;
}

#nav-top a {
    color: #5b6987e3;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
}

#nav-top a:hover {
    color: #006aff;
}

#nav-top .pull-left p {
    display: inline-block;
    margin: 0;
}

#nav-top .pull-left p i {
    font-size: 10px;
    margin-left: 2px;
}

#nav-top .pull-left span {
    background-color: rgb(0,215,210);
    border-radius: 6px;
    color: rgb(3,27,78);
    cursor: context-menu;
    display: inline-block;
    font-size: 11px;
    height: 22px;
    line-height: 22px;
    margin: 9px 9px 9px 0;
    padding: 0 8px;
    text-transform: uppercase;
}

#nav-top .pull-right a {
    padding-left: 20px;
}
/* ----- Fine nav-top ----- */

/* ----- Inizio navbar ----- */
.navbar-default {
    background-color: white;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0 15px;
}

.navbar-header {
    float: none;
}

.navbar-toggle {
    border: 0;
    display: block;
    margin: 16px 5px 16px 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-brand {
    height: 65px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.navbar-brand img {
    height: 29px;
}

.navbar-collapse.collapse {
    display: none!important;
}

.navbar-default .navbar-nav > li > a {
    color: rgb(3, 27, 79);
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 700;
    height: 65px;
    line-height: 25px;
    padding: 20px 12px;
    text-align: bottom;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #006aff;
}

.navbar-default .navbar-nav > .dropdown > a > i {
    color: #5b698785;
}

.navbar-default .navbar-right .btn {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 900;
    height: 37px;
    margin-bottom: 14px;
    margin-top: 14px;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-default .navbar-right .btn:first-child {
    border-color: #006aff;
    color: #006aff;
    margin-right: 10px;
    transition: all 0.3s linear;
}

.navbar-default .navbar-right .btn:first-child:hover {
    background-color: #006aff;
    color: white;
}

.navbar-default .navbar-right .btn:last-child {
    background-color: #006aff;
    border-color: #006aff;
    color: white;
}
/* ----- Fine navbar ----- */

/* ----- Inizio jumbotron ----- */
.jumbotron {
    background-color: #0069ff;
    background-image: url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
    background-position: center;
    background-size: cover;
    margin-bottom: 0;
    padding: 150px 0;
    position: relative;
    text-align: center;
}

.jumbotron h1,
.jumbotron p {
    color: white;
}

.jumbotron .intro p {
    font-size: 26px;
    font-weight: 300;
    margin: 40px 0;
}

.jumbotron .sign-up-box {
    background-color: white;
    border-radius: 8px;
    margin: auto;
    max-width: 370px;
    overflow: hidden;
}

.jumbotron .sign-up-box h4 {
    background-color: #f3f5f9;
    margin: 0;
    padding: 22px 30px;
}

.jumbotron .sign-up-box .main {
    border-bottom: 1px solid #8080803d;
}

.jumbotron .sign-up-box .main,
.jumbotron .sign-up-box .footer {
    padding: 35px;
}

.jumbotron .sign-up-box form {
    width: 100%;
}

.jumbotron .sign-up-box form input {
    border: 1px solid #8080803d;
    border-radius: 2px;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 10px;
    padding: 11px;
    width: 100%;
}

.jumbotron .sign-up-box form input:focus {
    border: 1px solid #006aff;
    outline: none;
}

.jumbotron .sign-up-box .btn {
    font-size: 17px;
    font-weight: 900;
}

.jumbotron .sign-up-box .main .btn {
    background-color: #006aff;
    border-color: #006aff;
    color: white;
    padding: 16px 0;
    width: 100%;
}

.jumbotron .sign-up-box .main .btn:hover {
    background-color: #1633ff;
}

.jumbotron .sign-up-box .footer .btn {
    border-color: #006aff;
    color: #006aff;
    padding: 11px 0;
    width: 100%;
}

.jumbotron .sign-up-box .footer .btn:first-child {
    margin-bottom: 10px;
}

.jumbotron .sign-up-box .footer .btn:hover {
    background-color: transparent;
    border-color: #363636;
}

.jumbotron .sign-up-box .footer .btn:hover span {
    color: #363636;
}

.jumbotron .terms-service {
    font-size: 17px;
    font-weight: 400;
    margin: 10px 0 0 0;
}

.jumbotron .terms-service a {
    color: white;
}

.jumbotron .terms-service a:hover {
    border-bottom: dotted 1px rgba(255,255,255,0.5);
    text-decoration: none;
}
/* ----- Fine jumbotron ----- */

section {
    padding: 64px 0;
    text-align: center;
}

section .intro h2 {
    color: #031b4e;
    font-size: 36px;
    margin: 0 0 20px 0;
}

section .intro p {
    color: #5b6987;
    font-size: 20px;
    font-weight: 300;
}

/* ----- Inizio sezione business ----- */
#business {
    background-color: #f3f5f9;
    padding: 64px 0;
}

#business h5 {
    color: #5b6987;
    font-size: 16px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

#business a {
    color: #0069ff;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin-top: 40px;
    text-decoration: none;
}

#business a:hover {
    color: #1633ff;
}

#business a i {
    font-size: 10px;
    margin-left: 2px;
}
/* ----- Fine sezione business ----- */

/* ----- Inizio sezione features ----- */
#features ul {
    list-style-type: none;
    margin-top: 40px;
    padding: 0;
}

#features ul li {
    display: inline-block;
}

#features ul li a {
    border-bottom: 2px solid #f3f5f9;
    color: rgba(3, 27, 78, 0.6);
    display: inline-block;
    font-size: 17px;
    font-weight: 700;
    padding: 15px 20px;
    text-decoration: none;
}

#features ul li a:hover {
    border-color: #0069ff;
    color: #031b4e;
}

.feature {
    margin-top: 40px;
}

.feature img {
    margin: 15px 0 20px 0;
}

.feature h5 {
    color: #031b4e;
    font-size: 18px;
    margin-bottom: 20px;
}

.feature p {
    color: rgba(3, 27, 78, 0.6);
    font-size: 17px;
    font-weight: 400;
}
/* ----- Fine sezione features ----- */

/* ----- Inizio sezione developers ----- */
#developers, #teams {
    background-color: #f3f5f9;
}

#developers .carousel {
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
}

#developers .carousel img {
    margin: 50px 0 25px 0;
    width: 100%;
}

#developers .carousel p {
    color: rgba(3, 27, 78, 0.6);
    font-size: 17px;
    font-weight: 400;
    margin: auto;
}

.carousel .circles {
    margin-top: 25px;
}

.carousel .circle {
    border: 2px solid #0069ff;
    border-radius: 50%;
    display: inline-block;
    height: 11px;
    margin: 5px;
    width: 11px;
}

.carousel .circle.current {
    background-color: #0069ff;
}
/* ----- Fine sezione developers ----- */

/* ----- Inizio sezione info ----- */
#info .feature:not(.last) {
    margin-bottom: 50px;
}

#info .feature p {
    margin: auto;
    max-width: 80%;
}

#info .feature a {
    color: #0069ff;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    text-decoration: none;
}

#info .feature a:hover {
    color: #1633ff;
}

#info .feature a i {
    font-size: 10px;
    margin-left: 2px;
}
/* ----- Fine sezione info ----- */

/* ----- Inizio sezione data ----- */
#data {
    background-color: rgb(3, 27, 78);
    background-image: url("https://prismic-io.s3.amazonaws.com/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg");
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover;
}

#data a {
    text-decoration: none;
}

#data .intro h2,
#data .intro p {
    color: white;
}

#data .intro p {
    margin-bottom: 80px;
}

#data .intro p a {
    color: #0069ff;
    font-weight: 400;
}

#data .intro p a:hover {
    color: #1633ff;
}

#data #table {
    text-align: left;
}

#data #table .cell.left {
    color: white;
    font-size: 13px;
    font-weight: 700;
    padding-left: 8px;
    text-transform: uppercase;
}

#data #table .cell.center {
    color: #fff;
    opacity: 0.6;
}

#data #table .cell.right {
    padding-right: 8px;
}

#data #table .cell.right a {
    color: #00d7d2;
}

#data #table .cell.right a:hover {
    color: #1633ff;
}

#data #table .cell.right a i {
    margin-left: 5px;
    font-size: 12px;
}

#data #table hr {
    border: 0;
    border-bottom: 1px solid #eeeeee3b;
    margin: 10px 0;
}
/* ----- Fine sezione data ----- */

/* ----- Inizio sezione teams ----- */
#teams .intro p a {
    color: #0069ff;
    font-weight: 400;
    text-decoration: none;
}

#teams .intro p a:hover {
    color: #1633ff;
}

#teams .carousel {
    position: relative;
}

#teams .carousel .box {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 5px 3px -1px rgba(0,0,0,0.05);
    margin: 80px 0;
    padding: 64px;
}

#teams .carousel .box .logo img {
    max-width: 100%;
}

#teams .carousel .box .quotation {
    color: #5b6987;
    font-size: 24px;
    font-weight: 300;
    margin: 30px 0;
}

#teams .carousel .box .quotation img {
    height: 17px;
    width: 21px;
}

#teams .carousel .box .name,
#teams .carousel .box .role {
    color: #5b6987;
}

#teams .carousel .box .name {
    font-size: 18px;
    font-weight: 400;
}

#teams .carousel .box .role {
    font-size: 14px;
    font-weight: 300;
}
/* ----- Fine sezione teams ----- */

/* ----- Inizio sezione cta ----- */
#cta {
    background-color: #0069ff;
    background-image: url(https://prismic-io.s3.amazonaws.com/www-static/b4ba92a9-0956-484b-9a3f-68ef4d550fd4_bg-home-cta.svg);
    padding: 64px 0;
}

#cta .right {
    margin-top: 30px;
}

#cta .left h2 {
    color: white;
    font-size: 40px;
    margin: 0;
}

#cta .right .btn {
    color: #006aff;
    font-size: 18px;
    font-weight: 700;
    height: 60px;
    padding: 0 30px;
    transition: all 0.1s linear;
}

#cta .right .btn:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}
/* ----- Fine sezione cta ----- */

/* ----- Inizio footer ----- */
footer {
    background-color: rgb(1, 14, 40);
    padding: 48px 0;
}

footer a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: none;
}

footer .menu .sub-menu {
    padding: 12px;
    width: 100%;
}

footer .menu h6 {
    color: white;
    font-size: 15px;
    font-weight: 400;
    margin: 0 0 24px 0;
}

footer .menu ul {
    list-style-type: none;
    padding: 0;
}

footer .menu ul li {
    margin-bottom: 10px;
}

footer hr {
    border: 0;
    border-bottom: 1px solid #eeeeee3b;
    margin: 30px 0;
}

footer .bottom-left {
    margin: auto;
    margin-bottom: 20px;
    max-width: 370px;
}

footer .bottom-left .logo {
    margin: 0 20px 0 10px;
    width: 50px;
}

footer .bottom-left .logo img {
    width: 100%;
}

footer .bottom-left .copyright {
    text-align: left;
    width: calc(100% - 80px);
}

footer .bottom-left .copyright p {
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
    padding: 15px 0;
}

footer .bottom-right {
    font-size: 20px;
    text-align: center;
}

footer .bottom-right a {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin-right: 10px;
}

footer .bottom-right a img {
    filter: contrast(0);
    height: 20px;
    margin-bottom: 5px;
}

footer .bottom-right a:hover img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(52deg) brightness(150%) contrast(101%) opacity(100%);
}
/* ----- Fine footer ----- */

/* ----- Inizio media queries ----- */
@media screen and (min-width: 320px) {
    .jumbotron .sign-up-box .footer .btn:first-child {
        margin-bottom: 0;
        margin-right: 5px;
        width: 80%;
    }

    .jumbotron .sign-up-box .footer .btn:last-child {
        width: calc(20% - 5px);
    }
}

@media screen and (min-width: 390px) {
    #teams .carousel .box .logo img {
        max-width: 200px;
    }

    footer .menu .sub-menu {
        width: 50%;
    }
}

@media screen and (min-width: 468px) {
    #data #table {
        margin: auto;
        max-width: 450px;
    }
}

@media screen and (min-width: 768px) {
    .navbar-toggle {
        margin-right: 0;
    }

    #features .feature,
    #features ul {
        text-align: left;
    }

    #features ul li,
    #features ul li a {
        display: block;
    }

    #features ul li a {
        border: 0;
        border-left: 2px solid #f3f5f9;
    }

    footer .menu .sub-menu {
        width: 20%;
    }

    footer .bottom-left {
        margin-bottom: 0;
        max-width: 100%;
    }

    footer .bottom-right {
        text-align: right;
    }

}

@media screen and (min-width: 992px) {
    .jumbotron .sign-up-box {
        max-width: 100%;
    }

    .jumbotron .intro p,
    .jumbotron .intro h1 {
        text-align: left;
    }

    .jumbotron .intro {
        margin-top: 120px;
    }

    #developers .carousel {
        padding-left: 15%;
        padding-right: 15%;
    }

    #developers .carousel::before {
        color: grey;
        content: "←";
        font-size: 30px;
        left: 0;
        position: absolute;
        top: 45%;
    }

    #developers .carousel::after {
        color: grey;
        content: "→";
        font-size: 30px;
        position: absolute;
        right: 0;
        top: 45%;
    }

    #info .feature {
        text-align: left;
    }

    #info .feature:not(.last) {
        margin-bottom: 0;
    }

    #info .feature p {
        max-width: 100%;
    }

    #data #table {
        margin-left: -15px;
        margin-right: -15px;
        max-width: calc(100% + 30px);
    }

    #data #table hr.last {
        display: none;
    }

    #teams .carousel {
        padding-left: 10%;
        padding-right: 10%;
    }

    #teams .carousel::before {
        color: grey;
        content: "←";
        font-size: 30px;
        left: 0;
        position: absolute;
        top: 35%;
    }

    #teams .carousel::after {
        color: grey;
        content: "→";
        font-size: 30px;
        position: absolute;
        right: 0;
        top: 35%;
    }

    #cta .left {
        text-align: left;
    }

    #cta .left h2 {
        height: 60px;
        line-height: 60px;
    }

    #cta .right {
        margin-top: 0;
        text-align: right;
    }
}

@media screen and (min-width: 1024px) {
    header {
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    #nav-top {
        display: block;
    }

    .jumbotron {
        padding-top: 257px;
    }

    section {
        padding: 120px 0;
    }

    footer .menu {
        padding-left: 140px;
    }
}

@media screen and (min-width: 1090px) {
    .navbar-header {
        float: left;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-brand {
        margin-right: 30px;
    }

    .navbar-collapse.collapse {
        display: block!important;
    }
}

@media screen and (min-width: 1200px) {
    #developers .intro {
        padding-left: 15%;
        padding-right: 15%;
    }
}
/* ----- Fine media queries ----- */
